.elementor-245
  .elementor-element.elementor-element-789b447
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-245 .elementor-element.elementor-element-d891368 .vlt-spacer__inner {
  height: 15rem;
}
.elementor-245
  .elementor-element.elementor-element-e55e643
  .elementor-heading-title {
  color: #b99e64;
  font-family: "MonumentExtended", Sans-serif;
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1em;
}
.elementor-245 .elementor-element.elementor-element-fc534d5 .vlt-spacer__inner {
  height: 3.125rem;
}
.elementor-245
  .elementor-element.elementor-element-6e0f380
  .elementor-spacer-inner {
  height: 1px;
}
.elementor-245
  .elementor-element.elementor-element-77e3230
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-245 .elementor-element.elementor-element-0948d51 .vlt-spacer__inner {
  height: 3.125rem;
}
.elementor-245
  .elementor-element.elementor-element-1711b56
  .elementor-heading-title {
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 0px;
}
.elementor-245 .elementor-element.elementor-element-06b7108 .vlt-spacer__inner {
  height: 1rem;
}
.elementor-245 .elementor-element.elementor-element-f230ec5 .vlt-spacer__inner {
  height: 3.125rem;
}
.elementor-245
  .elementor-element.elementor-element-2a0e73b
  .elementor-heading-title {
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 0px;
}
.elementor-245 .elementor-element.elementor-element-eb0e527 .vlt-spacer__inner {
  height: 1rem;
}
.elementor-245 .elementor-element.elementor-element-a9655cd .vlt-spacer__inner {
  height: 3.125rem;
}
.elementor-245
  .elementor-element.elementor-element-aa384de
  .elementor-heading-title {
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 0px;
}
.elementor-245 .elementor-element.elementor-element-fd4fc55 .vlt-spacer__inner {
  height: 1rem;
}
.elementor-245 .elementor-element.elementor-element-c1ee9c4 .vlt-spacer__inner {
  height: 3.125rem;
}
.elementor-245
  .elementor-element.elementor-element-35e8d1b
  .elementor-heading-title {
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 0px;
}
.elementor-245 .elementor-element.elementor-element-b4db9e0 .vlt-spacer__inner {
  height: 1rem;
}
.elementor-245 .elementor-element.elementor-element-730559a .vlt-spacer__inner {
  height: 6.25rem;
}
.elementor-245
  .elementor-element.elementor-element-6f441df:not(.elementor-motion-effects-element-type-background),
.elementor-245
  .elementor-element.elementor-element-6f441df
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../uploads/2020/07/project-02.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-245 .elementor-element.elementor-element-6f441df {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-245
  .elementor-element.elementor-element-6f441df
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-245 .elementor-element.elementor-element-e70575d .vlt-spacer__inner {
  height: 550px;
}
.elementor-245 .elementor-element.elementor-element-f2f0e41 {
  padding: 120px 0;
}
.elementor-245
  .elementor-element.elementor-element-8a8292f
  .elementor-heading-title {
  font-family: "MonumentExtended", Sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.45em;
  letter-spacing: 0.25px;
}
.elementor-245 .elementor-element.elementor-element-25c0392 .vlt-spacer__inner {
  height: 1.6875rem;
}
.elementor-245 .elementor-element.elementor-element-6232947 {
  color: #999;
  line-height: 1.66em;
  width: 80%;
  max-width: 80%;
}
.elementor-245
  .elementor-element.elementor-element-b32bec8
  .elementor-heading-title {
  font-family: "MonumentExtended", Sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.45em;
  letter-spacing: 0.25px;
}
.elementor-245 .elementor-element.elementor-element-0d9375e .vlt-spacer__inner {
  height: 1.6875rem;
}
.elementor-245 .elementor-element.elementor-element-04c0727 {
  color: #999;
  line-height: 1.66em;
  width: 80%;
  max-width: 80%;
}
.elementor-245 .elementor-element.elementor-element-3a04106 .vlt-spacer__inner {
  height: 3.25rem;
}
.elementor-245 .elementor-element.elementor-element-0cfb2e1 {
  text-align: left;
}
.elementor-245
  .elementor-element.elementor-element-77b1f7c:not(.elementor-motion-effects-element-type-background),
.elementor-245
  .elementor-element.elementor-element-77b1f7c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../uploads/2020/07/project-04.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-245 .elementor-element.elementor-element-77b1f7c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-245
  .elementor-element.elementor-element-77b1f7c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-245 .elementor-element.elementor-element-3d18ed2 .vlt-spacer__inner {
  height: 550px;
}
.elementor-245 .elementor-element.elementor-element-097db99 {
  padding: 120px 0;
}
.elementor-245 .elementor-element.elementor-element-d3ad78b {
  text-align: center;
}
.elementor-245
  .elementor-element.elementor-element-d3ad78b
  .elementor-social-icon {
  font-size: 22px;
  padding: 1em;
}
.elementor-245
  .elementor-element.elementor-element-d3ad78b
  .elementor-social-icon:not(:last-child) {
  margin-right: 30px;
}
@media (min-width: 768px) {
  .elementor-245 .elementor-element.elementor-element-789b447 {
    width: 60%;
  }
  .elementor-245 .elementor-element.elementor-element-77e3230 {
    width: 40%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .elementor-245 .elementor-element.elementor-element-789b447 {
    width: 100%;
  }
  .elementor-245 .elementor-element.elementor-element-1eeed16 {
    width: 50%;
  }
  .elementor-245 .elementor-element.elementor-element-6c40ec7 {
    width: 50%;
  }
  .elementor-245 .elementor-element.elementor-element-d3db349 {
    width: 50%;
  }
  .elementor-245 .elementor-element.elementor-element-8553118 {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .elementor-245
    .elementor-element.elementor-element-e55e643
    .elementor-heading-title {
    font-size: 3rem;
  }
  .elementor-245 .elementor-element.elementor-element-e55e643 {
    width: 70%;
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  .elementor-245 .elementor-element.elementor-element-e55e643 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-245
    .elementor-element.elementor-element-fc534d5
    .vlt-spacer__inner {
    height: 30px;
  }
  .elementor-245
    .elementor-element.elementor-element-6e0f380
    .elementor-spacer-inner {
    height: 35px;
  }
  .elementor-245
    .elementor-element.elementor-element-0948d51
    .vlt-spacer__inner {
    height: 30px;
  }
  .elementor-245
    .elementor-element.elementor-element-f230ec5
    .vlt-spacer__inner {
    height: 30px;
  }
  .elementor-245
    .elementor-element.elementor-element-a9655cd
    .vlt-spacer__inner {
    height: 30px;
  }
  .elementor-245
    .elementor-element.elementor-element-c1ee9c4
    .vlt-spacer__inner {
    height: 30px;
  }
  .elementor-245
    .elementor-element.elementor-element-7eb1140
    > .elementor-element-populated {
    margin: 50px 0 0;
  }
}
